
{% extends "AppCoder/base.html" %}

{% load static %}

{%block main %}

<main>
  {% if not platillos %}
    <h1>NO HAY POSTS</h1>
  {%endif%}
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Album example</h1>
          <p class="lead text-body-secondary">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
          <p>
            <a href="https://getbootstrap.com/docs/5.3/examples/album/#" class="btn btn-primary my-2">Main call to action</a>
            <a href="https://getbootstrap.com/docs/5.3/examples/album/#" class="btn btn-secondary my-2">Secondary action</a>
          </p>
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-body-tertiary">
      <div class="container">


        

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"></div>
        {% for platillo in platillos %}
            <div class="col">
                <div class="card shadow-sm">
                    <img class="card-image-rop" style="height: 225px; width: 100%; display: block;" src="{{platillo.image_url}}" data-holder-rendered="true">
                    <div class="card-body">
                    <p class="card-text">{{platillo.detalle}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                        {% if user.is_authenticated and user.id == platillo.propietario.id %}
                            <a href= "{% url 'platillo-delete' platillo.id %}" type="button" class="btn btn-sm btn-outline-secondary">Borrar</button>
                            <a href= "{% url 'platillo-update' platillo.id %}" type="button" class="btn btn-sm btn-outline-secondary">Actualizar</button>
                        {% endif %}
                        </div>
                        <small class="text-body-secondary">$ {{platillo.precio }}</small>
                    </div>
                    </div>
                </div>
                </div>
        {% endfor %}


  
  </main>
  {% endblock %}
